<h1 style="padding-top:2%; font-weight:bold;">メールアドレス/通知設定の変更</h1>
<div class="mailaddress-description" style="margin:5% 10%;">
  <% if current_user %>
    <p>Facebookに登録されているメールアドレス(<%= current_user.email %>)に以下の場合に通知が届くようになっています。</p>
    <ui>
      <li>男性の投稿に女性からコメントがあった時</li>
      <li>女性のコメントに男性から返信があった時</li>
    </ui>
  <% else %>
    <p>Facebookに登録されているメールアドレスに以下の場合に通知が届くようになっています。</p>
    <ui>
      <li>男性の投稿に女性からコメントがあった時</li>
      <li>女性のコメントに男性から返信があった時</li>
    </ui>
  <% end %>

  <!-- <h2>ユーザー設定 <%= resource_name.to_s.humanize %></h2> -->
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="field" style="width:80%; margin:0 10%;">
  <label class = "form_name"><%= f.label :メールアドレス %>
  <%= f.email_field :email %></label>


  <% @content = @user.notice ? "する" : "しない" %>
  <p>
  現在の通知設定: <span style="font-weight:bold;"><%= @content %></span>
  </p>
  <div class="radio-inline">
    <%= f.radio_button :notice, true %>
    <%= f.label :通知する %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :notice, false %>
    <%= f.label :通知しない %>
  </div>


  <div class="actions" style="text-align:center; padding:5% 0;">
    <button type="button" class="btn btn-default btn-sm"><%= f.submit "変更" %></button>
  </div>
  <% end %>
</div>
