<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h4 {
      color: #e7454a;
    }
    p hr {
      color: #2d2a24;
    }
  </style>
</head>
<body>
  <h4><%= @user.email %> 様</h4>
  <hr />
  <p>
    いつもアトオスをご利用頂きましてありがとうございます。
  </p>
  <!-- <p>
    ユーザー名: <%= @user.email %><br />
  </p> -->
  <% if @user.gender == "male" %>
    あなたの投稿に女性からコメントがきました。 <br />
    <div style="border:1px dotted #093;padding:10px;border-radius:10px;"><%= @reply.content %></div>
  <% else %>
    あなたのコメントに男性から返信がきました。 <br />
    <div style="border:1px dotted #093;padding:10px;border-radius:10px;"><%= @reply.content %></div>
  <% end %>

  <p>
  <%= link_to "アトオス", "https://ato-su.herokuapp.com/posts/#{@post.id}" %>で確認する。
  </p>
  <p>
    通知を止める場合は<%= link_to "こちら", "https://ato-su.herokuapp.com/users/edit" %>から
  </p>
  <!-- <p>
  ↓ローカルでやるとき用 <br />
  <%= link_to "アトオス", "http://localhost:3000/posts/#{@post.id}" %>で確認する。
  </p> -->

  <hr />
</body>
</html>
