
<!--
<h2 id = "login" class = "h2_login">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id = "login_main" class="field">
    <label class = "form_name"><%= f.label :メールアドレス %></label><br />
      <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" type="text" class="form-control login_information_mailaddress" placeholder="Mail Address" aria-describedby="basic-addon1">
  </div>

  <div id = "login_main" class="field">
    <label class = "form_name"><%= f.label :パスワード %></label><br />
    <input autocomplete="off" type="password" name="user[password]" id="user_password"　type="text" class="form-control login_information" placeholder="Password" aria-describedby="basic-addon1">
  </div>

  <% if devise_mapping.rememberable? -%>
    <div id = "login_main" class="field">
      <label class = "remenber_me"><%= f.check_box :remember_me %>
      <%= f.label :ログイン情報を保持する %></label>
    </div>
  <% end -%>

  <div id = "login_main" class="actions">
    <button type="submit" name="commit" value="ログイン" data-disable-with="ログイン" type="button" class="btn btn-default btn-lg login">ログイン</button>
  </div>
<% end %>
-->
<div id = "login" class = "link">
<br>
<%= render "devise/shared/links" %><br>
