<!-- カテゴリー選択フォーム
     enumを使っているのでparamの値はpost.rbに書かれている数字ではない方でも渡せる
-->
<%= form_for(@post) do |f| %>

<div class="field">
  <span class="category_type">カテゴリー</span><br>
  <ul>
    <div class="radio-inline">
      <%= f.radio_button :category, :onewaylove %>
      <li><%= f.label :片想い %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :together %>
      <li><%= f.label :交際中 %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :date %>
      <li><%= f.label :デート %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :present %>
      <li><%= f.label :プレゼント %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :lovevision %>
      <li><%= f.label :恋愛観 %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :battle %>
      <li><%= f.label :ケンカ %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :sexual %>
      <li><%= f.label :性事情 %></li>
    </div>
    <div class="radio-inline">
      <%= f.radio_button :category, :affair %>
      <li><%= f.label :浮気 %></li>
    </div>
    <br>
    <div class="radio-inline">
      <%= f.radio_button :category, :other %>
      <li><%= f.label :その他 %></li>
    </div>
  </ul>
</div>
<% end %>
