<h1>詳細ページ</h1>
<%= link_to("投稿一覧ページ", "/") %>

<%= form_tag("/posts/#{@post.id}", method: 'put')  do %>
<div class="posts-index-item">
title:  <%= @post.title %> <br>
content:<br>
<textarea name="content"><%= @post.content%></textarea>
<input type="submit" value="保存する">
</div>
<% end %>
<!-- ここでform_tagを使ってroute先は/posts/:id/updateをする -->
    保存ボタン
<pre>

</pre>

<div class="container">
  <% @replies.each do |reply| %>
    <div class="posts-index-item">
          コメント: <%= reply.content %><br>
      ---------------------------------------------------------------------------------------
    </div>
  <% end %>
</div>
