<div class="content-wrapper">
<div class = "pase">
<h1 class = "pase_name">投稿一覧</h1>

<!-- カテゴリーごとの一覧表示 -->
<div class="category">
  カテゴリー：
  <%= link_to("すべて", category: 0) %>
  <%= link_to("片想い", category: 1) %>
  <%= link_to("交際中", category: 2) %>
  <%= link_to("デート", category: 3) %>
  <%= link_to("プレゼント", category: 4) %>
  <%= link_to("恋愛観", category: 5) %>
  <%= link_to("ケンカ", category: 6) %>
  <%= link_to("浮気", category: 7) %>
  <%= link_to("性事情", category: 8) %>
</div>

<br class="main posts-index">
<% if current_user %>
  <% if current_user.gender == "male" %>
  <% end %>
<% end %>

  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <p class="box7">title:   <%= post.title%><br><br>
        content: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %></p>
      </div>
    <% end %>
  </div>
</div>
<br>
</div>
