<div class="content-wrapper">
<div class = "pase">
<h1 class = "pase_name">投稿一覧</h1>


<br class="main posts-index">
<% if current_user %>
  <% if current_user.gender == "male" %>
  <% end %>
<% end %>


  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
<<<<<<< HEAD
        タイトル:   <%= post.title%><br>
        内容: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %> <br>
        ---------------------------------------------------------------------------------------
=======
        <p class="box7">title:   <%= post.title%><br><br>
        content: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %></p>
>>>>>>> 19d0c7c3967b4752cab6f42d2ff90ce9d67841bf
      </div>
    <% end %>

  </div>
</div>
<br>
</div>
