<div class = "pase">
<h1 class = "pase_name">お悩み一覧</h1>

  <div class="btn-group category-position">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      カテゴリー <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <div class="category">
        <%= link_to("すべて", category: 0) %><br>
        <%= link_to("片想い", category: 1) %><br>
        <%= link_to("交際中", category: 2) %><br>
        <%= link_to("デート", category: 3) %><br>
        <%= link_to("プレゼント", category: 4) %><br>
        <%= link_to("恋愛観", category: 5) %><br>
        <%= link_to("ケンカ", category: 6) %><br>
        <%= link_to("浮気", category: 7) %><br>
        <%= link_to("性事情", category: 8) %><br>
      </div>
    </ul>
  </div>

<!-- 現在選択中のカテゴリーを表示   -->
<div class="janru">
  &emsp;&emsp;選択中のカテゴリー : <%= @janru %>
</div>

<!-- カテゴリーごとの一覧表示 -->
<br class="main posts-index">
<% if current_user %>
  <% if current_user.gender == "male" %>
  <% end %>
<% end %>

  <div class="container">
    <% @posts.each do |post| %>
    <% reply_count = Reply.where(post_id: post.id,p_id: 0).count %>
      <div class="posts-index-item box7">
        <p>タイトル:   <%= post.title%></p>
        <br>
        <p> <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %></p>
        <br>
        <p class="comment-num">コメント数 (<%= reply_count%>)</p>
        <br>
      </div>
    <% end %>
  </div>
</div>
<br>
</div>
