
<main>
<div class = "pase">
<h1 class = "pase_name">投稿一覧</h1>


<br class="main posts-index">
<button type="button" class="btn btn-default btn-lg">
<%= link_to("新規投稿する","/posts/new")%>
</button>


  <div class="container">
    <% if @current_user %>
      ///////////////////////////////////////////////////////////////////////////// <br>
      ログインしている性別:<%= @current_user.gender%><br>
      ログインしているメアド:<%= @current_user.email%><br>
      /////////////////////////////////////////////////////////////////////////////
      <% if @current_user.gender == "male" %>
        男だよ
      <% end %>
    <% end %>

    <% @posts.each do |post| %>
      <div class="posts-index-item">
        title:   <%= post.title%><br>
        content: <%= post.content.truncate(40) %>
        <%= link_to("もっと見る", "/posts/#{post.id}") %> <br>
        ---------------------------------------------------------------------------------------
      </div>
    <% end %>

  </div>
</div>
<br>
</main>
