<!--<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

<!--最小限のビューポート設定
<meta name="viewport" content="width=device-width">
</head>-->

<div id = "toukou_syousai">
  <div class="main">
    <h1>悩みを投稿する</h1>
      <!--<ul>
    <li class="center"><a href="/"><img src="/back5.jpg" width="20" height="30" class="logo"></a></li>
    <li class = " section">悩みを投稿する</li>
    </ul>-->
     <div class="main posts-new">
       <div class="container">
         <p class="form-heading"></p>
         <%= form_tag("/posts", method: :post) do %>
           <div class="form-group">
             <div class="form-title">
               <label class="title">タイトル</label>
               <textarea name="title" class="round_off form-control" rows="2" cols="60"><%= @post.title %></textarea>
             </div>
             <div class="form-body">
               <label class="title">内容</label>
               <textarea name="content" class="round_off form-control" rows="5" cols="60"> <%= @post.content%></textarea>
             </div>
             <%= render partial: "category_form", :locals => { post: @post } %>
             <li class="contribution"> <button type="button submit" class="btn btn-default btn-sm" value="投稿">投稿する</button></li>
           </div>
         <% end %>
       </div>
     </div>
   </div>
 </div>

<!--<%= link_to("投稿内容がうまく書けない方はこちら","/")%>-->
