<head>
</head>

<body>
  <h1>詳細ページ</h1>
  <%= link_to("投稿一覧ページ", "/") %>
  <div class="posts-index-item">
    <p class="box2"><%= @post.title %></p>
    <p class="box2"><%= @post.content %> </p>
    <p><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
  </div>

  <% if @post.user == current_user %>
    <%= link_to "削除", @resource, method: :delete, data: {confirm: "この投稿を削除しますか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認"%>
  <% end %>

  <%= render partial: "comment_form", :locals => { post_id: @post.id } %>

  <br><br><br><br>
  <div class="container">
    <% @replies.each do |reply| %>
      <!-- messagesの中はreplyに対するコメントが入っている -->
      <% @messages = messages(reply.id) %>
      <div class="posts-index-item">
        <% if reply.user_id != nil %>
          <% reply_user = User.find_by(id: reply.user_id) %>
        <% end %>

        <% if reply.p_id == 0 %>

          コメント: <%= reply.content %> <br>
          [<%= reply.created_at.strftime("%Y/%m/%d %H:%M") %>]<br>

          <% @naruhodo_count = Naruhodo.where(reply_id: reply.id).count%>
          <% @wakaru_count = Wakaru.where(reply_id: reply.id).count%>
          <!-- 現在ログインしている人が女性ならば「わかる」ボタンを押したり取り消せたりできる -->
          <% if current_user %>
            <% if current_user.gender == "female" %>
              <% if Wakaru.where(user_id: current_user, reply_id: reply.id).present? %>
                <button><%= link_to("わかる ", "/posts/#{@post.id}/replies/#{reply.id}/wakarus/:id" , {method:"delete"}) %><%= @wakaru_count %></button>
              <% else %>
                <button><%= link_to("わかる ", "/posts/#{@post.id}/replies/#{reply.id}/wakarus" , {method:"post"}) %></button>
              <% end %>
                <!-- カウント数が0の場合は表示しない-->
                なるほど<%= ": #{@naruhodo_count}" unless @naruhodo_count.zero? %><br>

              <!-- 現在ログインしている人が男性ならば「なるほど」ボタンを押したり取り消せたりできる -->
            <% elsif current_user.gender == "male" %>
              <% if Naruhodo.where(user_id: current_user, reply_id: reply.id).present? %>
                <button><%= link_to("なるほど ", "/posts/#{@post.id}/replies/#{reply.id}/naruhodos/:id" , {method:"delete"}) %><%= @naruhodo_count %> </button>
              <% else %>
                <button><%= link_to("なるほど ", "/posts/#{@post.id}/replies/#{reply.id}/naruhodos" , {method:"post"}) %></button>
              <% end %>
                <!-- カウント数が0の場合は表示しない-->
              わかる<%= ": #{@wakaru_count}" unless @wakaru_count.zero? %><br>

            <% end %>
            <!-- 現在ログインしていないならばボタンを見ることのみできる -->
          <% else %>

              なるほど<%= ": #{@naruhodo_count}" unless @naruhodo_count.zero? %>
              わかる<%= ": #{@wakaru_count}" unless @wakaru_count.zero? %><br>

          <% end %><br>
              <!-- コメントにメッセージを送ることができる -->
            <%= form_tag("/posts/#{@post.id}/replies") do %>
              <% if @post.user == current_user || reply_user == current_user %>
                &emsp;&emsp;&emsp;コメントに返信する:<br>
                &emsp;&emsp;&emsp;<textarea name="reply-content"></textarea>

                <!-- 現在のreplyのidを隠しパラメータとして渡す -->
                <input type="hidden" value="<%=reply.id%>" name="p_id">
                <input type="submit" value="返信する"><br>
              <% end %>
                <!-- 親コメントへの子コメント表示-->
                <% @messages.each do |message| %>
                  <p>[<%= message.created_at.strftime("%Y/%m/%d %H:%M") %>]&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= message.content %></p>
                <% end %>
            <% end %>
        <br>---------------------------------------------------------------------------------------
        <% end %>
      </div>
    <% end %>
  </div>
</body>
