<head>
<%= stylesheet_link_tag    'show' %>
</head>

<body>
<p><a href="/"><img src="/back5.jpg" width="20" height="30" class="logo"></a></p>
<br>
<br>
<div class="posts-index-item">
<p class="box2"><%= @post.title %></p>
<p class="box2"><%= @post.content %> </p>
</div>

<% if @post.user == @current_user %>
<%= link_to "削除", @resource, method: :delete, data: {confirm: "この投稿を削除しますか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認"%>
<% end %>




 <!--
<div class="form">
  <div class="form-comment">
    comment:<br>
    <p><textarea name="content"></textarea>
    <input type="submit" value="コメントする"></p>
  </div>
</div>-->





<%= form_tag("/posts/#{@post.id}/replies") do %>
<div id = "show_comment" class="form">
<div class="form-comment">
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <ul class = "comment_list">
    <li class = "comment-text"><textarea name="content" type="text" class="form-control" placeholder="Search for..."></textarea></li>
    <li class = "comment_btn"><span class="input-group-btn"><input type="submit" value="コメントする" class="btn btn-default" type="button"></span></li>

    </ul>
    </div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div>
</div>

<%end %>
<p class="center">コメント欄⬇︎</p>
<div class="container">
  <% @replies.each do |reply| %>
    <div class="posts-index-item">
      <p class="box3"><%= reply.content %> </p>
    </div>
  <% end %>
</div>
</body>
