<head>
</head>

<body>
<h1>詳細ページ</h1>
<%= link_to("投稿一覧ページ", "/") %>
<div class="posts-index-item">
投稿者: <%= @post.user_id %><br>
<% if current_user %>
  現在見ている人: <%= current_user.id%><br>
<% end %>
<p class="box2"><%= @post.title %></p>
<p class="box2"><%= @post.content %> </p>
</div>

<% if @post.user == current_user %>
  <%= link_to "削除", @resource, method: :delete, data: {confirm: "この投稿を削除しますか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認"%>
<% end %>

<%= form_tag("/posts/#{@post.id}/replies") do %>
  <% if current_user && current_user.gender == "female" %>
  <div class="form">
    <div class="form-comment">
      コメント:<br>
      <textarea name="content"></textarea>
      <input type="hidden" name="p_id" value=0>
      <input type="submit" value="コメントする">
    </div>
  </div>
  <% else %>
  <% end %>
<% end %>
<br><br><br><br>
<div class="container">
  <% @replies.each do |reply| %>
    <!-- messagesの中はreplyに対するコメントが入っている -->
    <% @messages = Reply.where(p_id: reply.id) %>
    <div class="posts-index-item">
    <% if reply.user_id != nil %>
      <% reply_user = User.find_by(id: reply.user_id) %>
    <% end %>
    <% if reply.p_id == 0 %>
      <% @messages.each do |message| %>
        <%= message.content %><br>
      <% end %>
      コメント: <%= reply.content %> <br>
      <% @naruhodo_count = Naruhodo.where(reply_id: reply.id).count%>
      <% @wakaru_count = Wakaru.where(reply_id: reply.id).count%>
      <!-- 現在ログインしている人が女性ならば「わかる」ボタンを押したり取り消せたりできる -->
      <% if current_user %>
        <% if current_user.gender == "female" %>
          <% if Wakaru.where(user_id: current_user, reply_id: reply.id).count == 1 %>
            <button><%= link_to("わかる", "/posts/#{@post.id}/replies/#{reply.id}/wakarus/:id" , {method:"delete"}) %><%= @wakaru_count %></button>
          <% else %>
            <button><%= link_to("わかる", "/posts/#{@post.id}/replies/#{reply.id}/wakarus" , {method:"post"}) %></button>
          <% end %>

          <!-- カウント数が0の場合は表示しない-->
          <% if @naruhodo_count != 0 %>
             なるほど: <%= @naruhodo_count %>
          <% else %>
             なるほど
          <% end %>
        <!-- 現在ログインしている人が男性ならば「なるほど」ボタンを押したり取り消せたりできる -->
        <% elsif current_user.gender == "male" %>
          <% if Naruhodo.where(user_id: current_user, reply_id: reply.id).count == 1 %>
            <button><%= link_to("なるほど", "/posts/#{@post.id}/replies/#{reply.id}/naruhodos/:id" , {method:"delete"}) %><%= @naruhodo_count %> </button>
          <% else %>
            <button><%= link_to("なるほど", "/posts/#{@post.id}/replies/#{reply.id}/naruhodos" , {method:"post"}) %></button>
          <% end %>

          <!-- カウント数が0の場合は表示しない-->
          <% if @wakaru_count != 0 %>
            わかる: <%= @wakaru_count %>
          <% else %>
            わかる
          <% end %>
          <!-- 現在ログインしていないならばボタンを見ることのみできる -->
          <% end %>
        <% else %>
          <% if @naruhodo_count != 0 %>
             なるほど: <%= @naruhodo_count %>
          <% else %>
             なるほど
          <% end %>
          <% if @wakaru_count != 0 %>
            わかる: <%= @wakaru_count %>
          <% else %>
            わかる
          <% end %>
      <% end %><br>
      <!-- コメントにメッセージを送ることができる -->
      <%= form_tag("/posts/#{@post.id}/replies") do %>
        <% if @post.user == current_user || reply_user == current_user %>
          &emsp;&emsp;&emsp;コメントに返信する:<br>
          &emsp;&emsp;&emsp;<textarea name="content"></textarea>
          <!-- 現在のreplyのidを隠しパラメータとして渡す -->
          <input type="hidden" value="<%=reply.id%>" name="p_id">
          <input type="submit" value="返信する">
        <% end %>
      <% end %>
        <br>---------------------------------------------------------------------------------------
      </div>
    <% end %>
  <% end %>
</div>
</body>
