<head>
<%= stylesheet_link_tag    'show' %>
</head>

<body>
<h1>詳細ページ</h1>
<%= link_to("投稿一覧ページ", "/") %>
<div class="posts-index-item">
投稿者: <%= @post.user_id %><br>
<% if current_user %>
  現在見ている人: <%= current_user.id%><br>
<% end %>
<p class="box2"><%= @post.title %></p>
<p class="box2"><%= @post.content %> </p>
</div>

<% if @post.user == current_user %>
  <%= link_to "削除", @resource, method: :delete, data: {confirm: "この投稿を削除しますか？", cancel: "やめる", commit: "削除する"}, title: "削除の確認"%>
<% end %>

<%= form_tag("/posts/#{@post.id}/replies") do %>
  <% if current_user && current_user.gender == "female" %>
  <div class="form">
    <div class="form-comment">
      comment:<br>
      <textarea name="content"></textarea>
      <input type="submit" value="コメントする">
    </div>
  </div>
   <% else %>
  <% end %>
<%end %>

<div class="container">
  <% @replies.each do |reply| %>
    <div class="posts-index-item">
      <% if reply.user_id != nil %>
        <% reply_user = User.find_by(id: reply.user_id) %>
      <% end %>
       <% if current_user && current_user.gender == "male" %>
        <% if reply_user && reply_user.provider == "facebook"  %>
           Facebook認証済み<br>
        <% else %>
        <% end %>
       <% end %>
          コメント: <%= reply.content %><br>
      ---------------------------------------------------------------------------------------
    </div>
  <% end %>
</div>
</body>
