<h1>投稿詳細ページ</h1>
<%= link_to("投稿一覧ページ", "/") %>
<div class="posts-index-item">
title:  <%= @post.title %> <br>
content:  <%= @post.content %>
</div>
<%= link_to("編集","/posts/#{@post.id}/edit")%>

<%= link_to "削除", @resource, method: :delete, data: {confirm: 'この投稿を削除しますか？'}, title: "削除の確認"%>

<%= form_tag("/posts/#{@post.id}/replies") do %>
<div class="form">
  <div class="form-comment">
    comment:<br>
    <textarea name="content"></textarea>
    <input type="submit" value="コメントする">
  </div>
</div>
<%end %>


<div class="container">
  <% @replies.each do |reply| %>
    <div class="posts-index-item">
          コメント: <%= reply.content %><br>
      ---------------------------------------------------------------------------------------
    </div>
  <% end %>
</div>
