<!DOCTYPE html>
<html>
  <head>
    <title>NBB</title>
    <%= csrf_meta_tags %>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">


<!--
    <div class="header_area">

      <div class="header_block">
          <div class="header_box">
              <div class="row">
                <div class="logo col-xs-6 col-sm-4"><img src="/atoos3.png" class="logo"></div>

                <div class = "menu">
                  <a href = "#" class = "btn" data-side="right" data-action="toggle"><img src="/menu01.png" class="menu-logo"></a>
                  </div>

                <div class = "sidebar right">
                  <a href = "#" class = "btn" data-side="right" data-action="toggle"><img src="/menu02.png" class="menubar-logo"></a>
                  <div id="menu" class="all_menu_list">
                    <ul class = "menu_sidebar">
                      <li class = "menu_list"><%= link_to '投稿一覧', root_url, method: :get %></li>
                      <li class = "menu_list"><%= link_to 'ログイン', '/users/sign_in' %></li>
                      <li class = "menu_list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                      <li class = "menu_list menu_last"><%= link_to '会員登録', new_user_registration_path, method: :get %></li>
                    </ul>
                  </div>
                </div>


                <div class="clearfix visible-xs-block"></div>


              </div>
          </div>
      </div>
    </div>
  </header>

-->
<!--
  <main>
     ヘッダー分の空白
  </main>
-->


<div class="wrapper">


  <header class="main-header">

    <!-- Logo -->
    <a href="/#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-lg"><b>アトオス</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!--<li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data
                <ul class="menu">
                  <li><!-- start message
                    <a href="#">
                      <div class="pull-left">
                        <img src="man_user.jpeg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="man_user.jpeg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="man_user.jpeg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="man_user.jpeg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="man_user.jpep" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>-->
          <!-- Notifications: style can be found in dropdown.less -->
          <!--<li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>-->
          <!-- Tasks: style can be found in dropdown.less -->
          <!--Facebooklogin-->
          <li class="user user-menu">
            <a href="/posts/new">
              <img src="/tori.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">投稿する</span>
            </a>

          </li>
          <li class="user user-menu">
            <a href="/users/auth/facebook">
              <img src="/logo-facebook.png" class="user-image" alt="User Image">
              <span class="hidden-xs">Facebookでログイン</span>
            </a>

          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/man_user.jpeg" class="user-image" alt="User Image">
              <span class="hidden-xs">User_name</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/man_user.jpeg" class="img-circle" alt="User Image">

                <p>
                  User_name
                  <!--<small>Member since Nov. 2012</small>-->
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">コメント</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">プロフィール</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/man_user.jpeg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>User_name</p>

        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <!--<li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>-->
        <li>
          <a href="/#">
            <!--<i class="fa fa-dashboard"></i>--> <span>TOP</span>
            <span class="pull-right-container">
              <!--<small class="label pull-right bg-green">new</small>-->
            </span>
          </a>
        </li>
        <li>
          <a href="/#">
            <!--<i class="fa fa-book"></i>--> <span>投稿一覧</span>
            <span class="pull-right-container">
              <!--<small class="label pull-right bg-green">new</small>-->
            </span>
          </a>
        </li>

        <li>
          <a href="pages/mailbox/mailbox.html">
            <!--<i class="fa fa-envelope"></i>--> <span>設定</span>
            <span class="pull-right-container">
              <!--<small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>-->
            </span>
          </a>
        </li>

        <li>
          <a href="pages/mailbox/mailbox.html">
             <span>お問い合わせ</span>

          </a>
        </li>


        <!--<li>
          <a href="">
            <i class="fa fa-book"></i> <span>Documentation</span>
          </a>
        </li>-->

        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="content-wrapper">
   <!--アラートやメッセーじを表示する -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  </div>
</div>
  </body>
</html>
