<!DOCTYPE html>
<html>
  <head>
    <title>NBB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <ul>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to 'ログイン', '/users/sign_in' %></li>
      <li><%= link_to '会員登録', new_user_registration_path, method: :get %></li>
      <li><%= link_to '投稿一覧', root_url, method: :get %></li>
    </ul>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
