<!DOCTYPE html>
<html>
  <head>
    <title>NBB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.1.0/jquery.sidebar.min.js"></script>

  </head>

  <body>


    <div class="header_area">

      <div class="header_block">
          <div class="header_box">
              <div class="row">
                <div class="logo col-xs-6 col-sm-4"><img src="/atoos3.png" class="logo"></div>

                <div class = "menu">
                  <a href = "#" class = "btn" data-side="right" data-action="toggle"><img src="/menu01.png" class="menu-logo"></a>
                  </div>

                <div class = "sidebar right">
                  <a href = "#" class = "btn" data-side="right" data-action="toggle"><img src="/menu02.png" class="menubar-logo"></a>
                  <div id="menu" class="all_menu_list">
                    <ul class = "menu_sidebar">
                      <li class = "menu_list"><%= link_to '投稿一覧', root_url, method: :get %></li>
                      <li class = "menu_list"><%= link_to "Facebookはこちらから", user_facebook_omniauth_authorize_path %></li>
                      <li class = "menu_list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </div>
                </div>


                <div class="clearfix visible-xs-block"></div>


              </div>
          </div>
      </div>
    </div>
  </header>



  <main>
    <!-- ヘッダー分の空白 -->
  </main>
  <!-- アラートやメッセーじを表示する -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
